{
    "tabWidth": 2,
    "printWidth": 80,
    "useTabs": false,
    "endOfLine": "lf",
    "singleQuote": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "bracketSameLine": false
  }